<div class="footer ">
  <div class="container">
    <a href="#" class="footer-left"><%= image_tag asset_path("foot.png"), alt: " " %></a>
    <p class="footer-grid">Copyright © 2015  <a href="#" target="_blank">Pentart Studio</a> <br> Developed By : <a href="https://in.linkedin.com/in/nareshdwivedi1987" target="_blank"> Naresh Dwivedi</a> </p>
    <div class="clearfix"> </div>
  </div>
</div>